.createButton{
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 64px;
    height: 64px;
    font-size: 42px;
    color: #FFFADE;
    font-weight: bold;
    border-radius: 50%;
    border: solid 1px #00A983;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}
.createButton:hover{
    background-color: #FFFADE;
    color: #1D1A29;
    border: 1px solid #9182EC;
    transform: scale(1.1);
}